<div style="padding-top: 1em;" class=""> </div>
<div class="w3-mobile w3-row-padding">
  <div class="w3-col m4 l4">
    <img src="<%= cover_link(@params[:path]) %>" class="cover"/>
  </div>
  <div class="w3-col m8 l8">
  <h3 class="page-title w3-center">
    <a href="<%= @item.download(:audio).url %>" class="w3-mobile feed-link ">
      <svg class="feather w3-cell-middle feed-button">
        <use href="/feather-sprite.svg#download">
      </svg>
    </a>
    <span class="w3-cell-middle">
      <%= @item.title.join %>
    </span>
  </h3>
<div class="book-meta w3-mobile w3-row-padding"> 
  <%= erb :item_meta, locals: {item: @item} %>
</div>
</div>
</div>


<div class="description w3-mobile w3-row-padding"> 
  <p><%= @item.comments.to_s %></p>
</div>
