<!DOCTYPE HTML>
<html lang="en">
  <head> 
    <%= erb :head %>
  </head>

  <body class="w3-mobile">
    <header class="w3-mobile">
        <nav class="w3-mobile">
          <div class="w3-bar w3-mobile w3-xlarge header">
            <a href="<%= home %>" class="w3-bar-item w3-button">
              URbooks
            </a>

            <span class="w3-bar-item w3-hide-small">
              |
            </span>

            <a href="<%= rel_url(@params[:library]) %>" class="w3-bar-item w3-button w3-hide-small">
              <%= @params[:library] %>
            </a>

            <%= erb :lib_nav %>

        </nav>
    </header>

      <%= erb :sidebar %>

    <main class="w3-mobile w3-content w3-main main-site">
      <%= yield %>
    </main>

  <!--  <div style="padding-top: 2em;" class="w3-hide-large"> </div>
    
    <footer class="w3-mobile w3-row">
      <div class="w3-hide-large w3-bottom w3-hide-medium">
        <nav class="w3-mobile">

          <div id="nav-menu" class="w3-mobile w3-bar-block w3-hide w3-hide-large w3-hide-medium">

            <%#<%= erb :lib_nav %>%>

          </div>


          <div class="w3-bar w3-mobile w3-xlarge">
            <a href="<%= home %>" class="w3-bar-item w3-button">
              URbooks
            </a>

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="hideShow('nav-menu')">
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="sidebar_open()">
              &#9776;
            </a>
          </div>-->

        <div class="w3-clear"></div>

        </nav>
      </div>

    <%= erb :js_scripts %>
    </footer>
  </body>
</html>
